@import 'kmom04.css';
@import url("https://fonts.googleapis.com/css2?family=Gabarito:wght@400;500;600;700;800;900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  position: relative;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  margin: 0 auto;
  padding: 0;
  background: #fff;
  width: 100%;
}

main {
  width: 1000px;
  margin: 0 auto;
}

.content {
  margin: 35px 50px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: "Space Mono", monospace;
}

li a:hover:not(.active) {
  background-color: #111;
}

.rounded {
  border-radius: 50%;
}

.center {
  margin: 0 auto;
}

.active {
  background-color: #b57e36;
  color: #000;
}

h1 {
  margin: 1em auto;
  font-family: "Space Mono", monospace;
}

.smaller {
  font-size: small;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 75%;
  align-items: center;
  justify-content: center;
}

.column {
  display: flex;
  flex-direction: column;
  flex: 1;
}

h1,
h2 {
  text-align: center;
  font-family: "Space Mono", monospace;
}

p {
  text-align: center;
  font-family: "Space Mono", monospace;
  margin: 20px 0;
}

img {
  margin: 0 auto;
  display: block;
}

/* Button */
.button {
  text-decoration: none;
  color: #000;
  font-family: "Space Mono", monospace;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #fff;
  border: 2px solid #b57e36;
  padding: 10px 20px;
  border-radius: 3px;
  transition: all 200ms ease;
  white-space: nowrap;
  letter-spacing: 1px;
  position: absolute;
}

.button:hover {
  color: #fff;
  background-color: #b57e36;
  border: 2px solid #b57e36;
  cursor: pointer;
}

.box {
  height: 200px;
  width: 200px;
  margin: 2em;
  padding: 0.5em;
  float: left;
  text-align: center;
  font-family: "Space Mono", monospace;
  font-size: 0.7em;
}

.borderBox {
  border: 3px solid #000;
}

.box img {
  margin: 3px auto;
  width: 50%;
  display: block;
}
